################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amazon_SDE_OA/obj/Debug/net6.0
/Amazon_SDE_OA/bin/Debug/net6.0
/Amazon_SDE_Phone_Interview/obj
/Amazon_SDE_Phone_Interview/bin/Debug/net6.0
