################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amazon_SDE_OA/obj/Debug/net6.0
